In [5]:
#Import all of the necessary libraries

import os
import pandas as pd
import alpaca_trade_api as tradeapi
import numpy as np
from MCForecastTools import MCSimulation
from dotenv import load_dotenv


%matplotlib inline

In [6]:
#Load your .env file since we're using Alpaca's API keys
load_dotenv("alpaca_api_keys.env")

NameError: name 'load_dotenv' is not defined

In [ ]:
#Amount of shares are calculated based on the closing price of each stock on March 17, 2020
#Each stock has $12,500 worth

#BA closing price = $124.14
#DAL closing price = $31.74
#MGM closing price = $9.55
#WYNN closing price = $54.38

ba_shares = 101
dal_shares = 394
mgm_shares = 1309
wynn_shares = 230

In [ ]:
#Create variables for each alpaca key to easily call it
alpaca_api_key = os.getenv("API_KEY")
alpaca_secret_key = os.getenv("API_SECRET_KEY")

In [ ]:
#Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [ ]:
#Set your portfolio study dates
start = pd.Timestamp("2020-03-17", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-04-13", tz="America/New_York").isoformat()

#Set your timeframe for the data
timeframe = "1D"

#Set your tickers
tickers = ["BA", "DAL", "MGM", "WYNN"]

In [ ]:
#Set your dataframe and load the data
df_portfolio_pandemic = api.get_barset(
    tickers,
    timeframe,
    limit = 1000,
    start = start,
    end = end
).df

df_portfolio_pandemic

In [ ]:
BA_portfolio = df_portfolio_pandemic['BA'][['close']]

In [ ]:
DAL_portfolio = df_portfolio_pandemic['DAL'][['close']]

In [ ]:
MGM_portfolio = df_portfolio_pandemic['MGM'][['close']]

In [ ]:
WYNN_portfolio = df_portfolio_pandemic['WYNN'][['close']]

In [ ]:
pandemic_portfolio = pd.concat([BA_portfolio, DAL_portfolio, MGM_portfolio, WYNN_portfolio], axis = 'columns', join = 'inner')

pandemic_portfolio.columns = ['BA', 'DAL', 'MGM', 'WYNN']

pandemic_portfolio.head(10)

In [ ]:
pandemic_portfolio.to_csv('Pandemic_Stocks_Raw_Data.csv')

,SP500,Nasdaq,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,BTC,ETH
Date,,,,,,,,,,,,,,
2020-03-17,252.800003,7334.779785,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,5225.629395,113.942749
2020-03-18,240.000000,6989.839844,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,5238.438477,114.842270
2020-03-19,240.509995,7150.580078,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,6191.192871,136.593857
2020-03-20,228.800003,6879.520020,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,6198.778320,132.737167
2020-03-23,222.949997,6860.669922,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,6416.314941,134.911606
2020-03-24,243.149994,7417.859863,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,6734.803711,138.761444
2020-03-25,246.789993,7384.299805,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,6681.062988,136.195892
2020-03-26,261.200012,7797.540039,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,6716.440430,138.361557
2020-03-27,253.419998,7502.379883,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,6469.798340,133.937943
2020-03-30,261.649994,7774.149902,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,6429.841797,132.904541

                 SP500       Nasdaq
Date
2020-03-17  252.800003  7334.779785
2020-03-18  240.000000  6989.839844
2020-03-19  240.509995  7150.580078
2020-03-20  228.800003  6879.520020
2020-03-23  222.949997  6860.669922
2020-03-24  243.149994  7417.859863
2020-03-25  246.789993  7384.299805
2020-03-26  261.200012  7797.540039
2020-03-27  253.419998  7502.379883
2020-03-30  261.649994  7774.149902

                 SP500       Nasdaq
                 close        close
Date
2020-03-17  252.800003  7334.779785
2020-03-18  240.000000  6989.839844
2020-03-19  240.509995  7150.580078
2020-03-20  228.800003  6879.520020
2020-03-23  222.949997  6860.669922

,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,BTC,ETH
Date,,,,,,,,,,,,
2020-03-17,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,5225.629395,113.942749
2020-03-18,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,5238.438477,114.842270
2020-03-19,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,6191.192871,136.593857
2020-03-20,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,6198.778320,132.737167
2020-03-23,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,6416.314941,134.911606
2020-03-24,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,6734.803711,138.761444
2020-03-25,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,6681.062988,136.195892
2020-03-26,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,6716.440430,138.361557
2020-03-27,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,6469.798340,133.937943
2020-03-30,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,6429.841797,132.904541

,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,BTC,ETH
,close,close,close,close,close,close,close,close,close,close,close,close
Date,,,,,,,,,,,,
2020-03-17,124.03,31.740,9.54,54.34,430.000,4.230,252.85,1807.38,280619.12,146.57,5225.629395,113.942749
2020-03-18,101.89,23.485,7.14,43.02,361.600,3.780,249.00,1832.39,258927.00,142.13,5238.438477,114.842270
2020-03-19,97.71,21.500,7.70,46.57,427.295,4.190,244.78,1880.50,261690.00,142.67,6191.192871,136.593857
2020-03-20,95.01,21.350,9.11,51.97,427.530,3.755,228.74,1846.09,254600.00,136.77,6198.778320,132.737167
2020-03-23,105.49,22.230,9.15,57.56,434.290,3.810,223.43,1902.54,242000.00,135.56,6416.314941,134.911606

                BA                  DAL                MGM               \
             close daily_return   close daily_return close daily_return
Date
2020-03-17  124.03          NaN  31.740          NaN  9.54          NaN
2020-03-18  101.89    -0.178505  23.485    -0.260082  7.14    -0.251572
2020-03-19   97.71    -0.041025  21.500    -0.084522  7.70     0.078431
2020-03-20   95.01    -0.027633  21.350    -0.006977  9.11     0.183117
2020-03-23  105.49     0.110304  22.230     0.041218  9.15     0.004391

             WYNN                 Tesla               ...     AMZN  \
            close daily_return    close daily_return  ...    close
Date                                                  ...
2020-03-17  54.34          NaN  430.000          NaN  ...  1807.38
2020-03-18  43.02    -0.208318  361.600    -0.159070  ...  1832.39
2020-03-19  46.57     0.082520  427.295     0.181679  ...  1880.50
2020-03-20  51.97     0.115954  427.530     0.000550  ...  1846.09
2020-03-23  57.56     0.107562  434.290     0.015812  ...  1902.54

                             BRK.A                 MSFT               \
           daily_return      close daily_return   close daily_return
Date
2020-03-17          NaN  280619.12          NaN  146.57          NaN
2020-03-18     0.013838  258927.00    -0.077301  142.13    -0.030293
2020-03-19     0.026255  261690.00     0.010671  142.67     0.003799
2020-03-20    -0.018298  254600.00    -0.027093  136.77    -0.041354
2020-03-23     0.030578  242000.00    -0.049489  135.56    -0.008847

                    BTC                      ETH
                  close daily_return       close daily_return
Date
2020-03-17  5225.629395          NaN  113.942749          NaN
2020-03-18  5238.438477     0.002451  114.842270     0.007894
2020-03-19  6191.192871     0.181878  136.593857     0.189404
2020-03-20  6198.778320     0.001225  132.737167    -0.028235
2020-03-23  6416.314941     0.035093  134.911606     0.016382

[5 rows x 24 columns]