In [1]:
#Import all of the necessary libraries

import os
import pandas as pd
import alpaca_trade_api as tradeapi

from dotenv import load_dotenv

%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
/Users/charlesmitchell/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
pandemic_portfolio = pd.read_csv("../../data/rawdata/Pandemic_Stocks_Raw_Data.csv", index_col = "time", parse_dates = True, infer_datetime_format = True)

pandemic_portfolio.head(10)

                               BA     DAL     MGM   WYNN
time
2020-03-17 00:00:00-04:00  124.03  31.740   9.540  54.34
2020-03-18 00:00:00-04:00  101.89  23.485   7.140  43.02
2020-03-19 00:00:00-04:00   97.71  21.500   7.700  46.57
2020-03-20 00:00:00-04:00   95.01  21.350   9.110  51.97
2020-03-23 00:00:00-04:00  105.49  22.230   9.150  57.56
2020-03-24 00:00:00-04:00  127.50  26.890  12.185  66.54
2020-03-25 00:00:00-04:00  158.68  31.140  12.945  75.06
2020-03-26 00:00:00-04:00  180.40  31.700  13.410  71.40
2020-03-27 00:00:00-04:00  161.99  29.550  12.180  63.31
2020-03-30 00:00:00-04:00  152.27  28.670  11.530  61.06

In [3]:
tsla_gme_portfolio = pd.read_csv("../../data/rawdata/tesla_game_joined.csv", index_col = "time", parse_dates = True, infer_datetime_format = True)

tsla_gme_portfolio.head(10)

                             Tesla  Gamestop
time
2020-03-17 00:00:00-04:00  430.000    4.2300
2020-03-18 00:00:00-04:00  361.600    3.7800
2020-03-19 00:00:00-04:00  427.295    4.1900
2020-03-20 00:00:00-04:00  427.530    3.7550
2020-03-23 00:00:00-04:00  434.290    3.8100
2020-03-24 00:00:00-04:00  504.300    4.1950
2020-03-25 00:00:00-04:00  539.175    4.2000
2020-03-26 00:00:00-04:00  528.050    4.4050
2020-03-27 00:00:00-04:00  514.560    4.2101
2020-03-30 00:00:00-04:00  502.100    3.6500

In [4]:
index_closing_prices = pd.read_csv("../../data/rawdata/Index_Closing_Prices2.csv", index_col = "Date", parse_dates = True, infer_datetime_format = True)

index_closing_prices.head(10)

                 SP500       Nasdaq
Date
2020-03-17  252.800003  7334.779785
2020-03-18  240.000000  6989.839844
2020-03-19  240.509995  7150.580078
2020-03-20  228.800003  6879.520020
2020-03-23  222.949997  6860.669922
2020-03-24  243.149994  7417.859863
2020-03-25  246.789993  7384.299805
2020-03-26  261.200012  7797.540039
2020-03-27  253.419998  7502.379883
2020-03-30  261.649994  7774.149902

In [5]:
bluechip_portfolio = pd.read_csv("../../data/rawdata/Bluechips_Closing_Prices.csv", index_col = "time", parse_dates = True, infer_datetime_format = True)

bluechip_portfolio.head(10)

                              AAPL      AMZN      BRK.A    MSFT
time
2020-03-17 00:00:00-04:00  252.850  1807.380  280619.12  146.57
2020-03-18 00:00:00-04:00  249.000  1832.390  258927.00  142.13
2020-03-19 00:00:00-04:00  244.780  1880.500  261690.00  142.67
2020-03-20 00:00:00-04:00  228.740  1846.090  254600.00  136.77
2020-03-23 00:00:00-04:00  223.430  1902.540  242000.00  135.56
2020-03-24 00:00:00-04:00  246.880  1940.000  267090.00  148.34
2020-03-25 00:00:00-04:00  245.465  1885.780  269409.75  146.85
2020-03-26 00:00:00-04:00  258.480  1955.225  276095.00  156.11
2020-03-27 00:00:00-04:00  247.620  1899.920  269350.00  149.61
2020-03-30 00:00:00-04:00  254.790  1964.780  275052.50  160.30

In [6]:
crypto_portfolio = pd.read_csv("../../data/rawdata/Crypto_Closing_Prices2.csv", index_col = "Date", parse_dates = True, infer_datetime_format = True)

crypto_portfolio.head(10)

                    BTC         ETH
Date
2020-03-17  5225.629395  113.942749
2020-03-18  5238.438477  114.842270
2020-03-19  6191.192871  136.593857
2020-03-20  6198.778320  132.737167
2020-03-21  6185.066406  132.818710
2020-03-22  5830.254883  123.321152
2020-03-23  6416.314941  134.911606
2020-03-24  6734.803711  138.761444
2020-03-25  6681.062988  136.195892
2020-03-26  6716.440430  138.361557

In [7]:
total_portfolio = pd.concat([pandemic_portfolio, tsla_gme_portfolio, bluechip_portfolio], axis = 'columns', join = 'inner')

total_portfolio.head(10)

,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT
time,,,,,,,,,,
2020-03-17 00:00:00-04:00,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57
2020-03-18 00:00:00-04:00,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13
2020-03-19 00:00:00-04:00,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67
2020-03-20 00:00:00-04:00,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77
2020-03-23 00:00:00-04:00,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56
2020-03-24 00:00:00-04:00,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34
2020-03-25 00:00:00-04:00,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85
2020-03-26 00:00:00-04:00,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11
2020-03-27 00:00:00-04:00,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61
2020-03-30 00:00:00-04:00,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30

In [8]:
csv_portfolio = pd.concat([index_closing_prices, crypto_portfolio], axis = 'columns', join = 'inner')

csv_portfolio.head(10)

                 SP500       Nasdaq          BTC         ETH
Date
2020-03-17  252.800003  7334.779785  5225.629395  113.942749
2020-03-18  240.000000  6989.839844  5238.438477  114.842270
2020-03-19  240.509995  7150.580078  6191.192871  136.593857
2020-03-20  228.800003  6879.520020  6198.778320  132.737167
2020-03-23  222.949997  6860.669922  6416.314941  134.911606
2020-03-24  243.149994  7417.859863  6734.803711  138.761444
2020-03-25  246.789993  7384.299805  6681.062988  136.195892
2020-03-26  261.200012  7797.540039  6716.440430  138.361557
2020-03-27  253.419998  7502.379883  6469.798340  133.937943
2020-03-30  261.649994  7774.149902  6429.841797  132.904541

In [9]:
csv_portfolio.reset_index(inplace=True)

In [10]:
total_portfolio.reset_index(inplace=True)

In [11]:
final_portfolio = pd.concat([total_portfolio, csv_portfolio], axis = 'columns', join = 'inner')

final_portfolio.head(10)

,time,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,Date,SP500,Nasdaq,BTC,ETH
0,2020-03-17 00:00:00-04:00,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,2020-03-17,252.800003,7334.779785,5225.629395,113.942749
1,2020-03-18 00:00:00-04:00,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,2020-03-18,240.000000,6989.839844,5238.438477,114.842270
2,2020-03-19 00:00:00-04:00,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,2020-03-19,240.509995,7150.580078,6191.192871,136.593857
3,2020-03-20 00:00:00-04:00,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,2020-03-20,228.800003,6879.520020,6198.778320,132.737167
4,2020-03-23 00:00:00-04:00,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,2020-03-23,222.949997,6860.669922,6416.314941,134.911606
5,2020-03-24 00:00:00-04:00,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,2020-03-24,243.149994,7417.859863,6734.803711,138.761444
6,2020-03-25 00:00:00-04:00,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,2020-03-25,246.789993,7384.299805,6681.062988,136.195892
7,2020-03-26 00:00:00-04:00,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,2020-03-26,261.200012,7797.540039,6716.440430,138.361557
8,2020-03-27 00:00:00-04:00,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,2020-03-27,253.419998,7502.379883,6469.798340,133.937943
9,2020-03-30 00:00:00-04:00,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,2020-03-30,261.649994,7774.149902,6429.841797,132.904541

In [12]:
final_portfolio.drop(columns = "time", inplace=True)

In [13]:
final_portfolio.head(10)

,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,Date,SP500,Nasdaq,BTC,ETH
0,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,2020-03-17,252.800003,7334.779785,5225.629395,113.942749
1,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,2020-03-18,240.000000,6989.839844,5238.438477,114.842270
2,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,2020-03-19,240.509995,7150.580078,6191.192871,136.593857
3,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,2020-03-20,228.800003,6879.520020,6198.778320,132.737167
4,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,2020-03-23,222.949997,6860.669922,6416.314941,134.911606
5,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,2020-03-24,243.149994,7417.859863,6734.803711,138.761444
6,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,2020-03-25,246.789993,7384.299805,6681.062988,136.195892
7,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,2020-03-26,261.200012,7797.540039,6716.440430,138.361557
8,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,2020-03-27,253.419998,7502.379883,6469.798340,133.937943
9,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,2020-03-30,261.649994,7774.149902,6429.841797,132.904541

In [14]:
final_portfolio.set_index("Date", inplace=True)

In [15]:
final_portfolio.head(10)

,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,SP500,Nasdaq,BTC,ETH
Date,,,,,,,,,,,,,,
2020-03-17,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,252.800003,7334.779785,5225.629395,113.942749
2020-03-18,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,240.000000,6989.839844,5238.438477,114.842270
2020-03-19,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,240.509995,7150.580078,6191.192871,136.593857
2020-03-20,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,228.800003,6879.520020,6198.778320,132.737167
2020-03-23,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,222.949997,6860.669922,6416.314941,134.911606
2020-03-24,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,243.149994,7417.859863,6734.803711,138.761444
2020-03-25,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,246.789993,7384.299805,6681.062988,136.195892
2020-03-26,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,261.200012,7797.540039,6716.440430,138.361557
2020-03-27,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,253.419998,7502.379883,6469.798340,133.937943
2020-03-30,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,261.649994,7774.149902,6429.841797,132.904541

In [16]:
final_portfolio = final_portfolio[['SP500', 'Nasdaq', 'BA', 'DAL', 'MGM', 'WYNN', 'Tesla', 'Gamestop', 'AAPL', 'AMZN', 'BRK.A', 'MSFT', 'BTC', 'ETH']]

In [17]:
final_portfolio.head()

,SP500,Nasdaq,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,BTC,ETH
Date,,,,,,,,,,,,,,
2020-03-17,252.800003,7334.779785,124.03,31.740,9.54,54.34,430.000,4.230,252.85,1807.38,280619.12,146.57,5225.629395,113.942749
2020-03-18,240.000000,6989.839844,101.89,23.485,7.14,43.02,361.600,3.780,249.00,1832.39,258927.00,142.13,5238.438477,114.842270
2020-03-19,240.509995,7150.580078,97.71,21.500,7.70,46.57,427.295,4.190,244.78,1880.50,261690.00,142.67,6191.192871,136.593857
2020-03-20,228.800003,6879.520020,95.01,21.350,9.11,51.97,427.530,3.755,228.74,1846.09,254600.00,136.77,6198.778320,132.737167
2020-03-23,222.949997,6860.669922,105.49,22.230,9.15,57.56,434.290,3.810,223.43,1902.54,242000.00,135.56,6416.314941,134.911606

In [18]:
final_portfolio.dropna(inplace=True)

In [ ]:
final_portfolio.to_csv("Final_Portfolio.csv")

In [20]:
final_portfolio = pd.read_csv('../../data/cleandata/Final_Portfolio.csv', index_col='Date', parse_dates=True, infer_datetime_format=True)

In [21]:
final_portfolio.head(10)

,SP500,Nasdaq,BA,DAL,MGM,WYNN,Tesla,Gamestop,AAPL,AMZN,BRK.A,MSFT,BTC,ETH
Date,,,,,,,,,,,,,,
2020-03-17,252.800003,7334.779785,124.03,31.740,9.540,54.34,430.000,4.2300,252.850,1807.380,280619.12,146.57,5225.629395,113.942749
2020-03-18,240.000000,6989.839844,101.89,23.485,7.140,43.02,361.600,3.7800,249.000,1832.390,258927.00,142.13,5238.438477,114.842270
2020-03-19,240.509995,7150.580078,97.71,21.500,7.700,46.57,427.295,4.1900,244.780,1880.500,261690.00,142.67,6191.192871,136.593857
2020-03-20,228.800003,6879.520020,95.01,21.350,9.110,51.97,427.530,3.7550,228.740,1846.090,254600.00,136.77,6198.778320,132.737167
2020-03-23,222.949997,6860.669922,105.49,22.230,9.150,57.56,434.290,3.8100,223.430,1902.540,242000.00,135.56,6416.314941,134.911606
2020-03-24,243.149994,7417.859863,127.50,26.890,12.185,66.54,504.300,4.1950,246.880,1940.000,267090.00,148.34,6734.803711,138.761444
2020-03-25,246.789993,7384.299805,158.68,31.140,12.945,75.06,539.175,4.2000,245.465,1885.780,269409.75,146.85,6681.062988,136.195892
2020-03-26,261.200012,7797.540039,180.40,31.700,13.410,71.40,528.050,4.4050,258.480,1955.225,276095.00,156.11,6716.440430,138.361557
2020-03-27,253.419998,7502.379883,161.99,29.550,12.180,63.31,514.560,4.2101,247.620,1899.920,269350.00,149.61,6469.798340,133.937943
2020-03-30,261.649994,7774.149902,152.27,28.670,11.530,61.06,502.100,3.6500,254.790,1964.780,275052.50,160.30,6429.841797,132.904541